$color-red: #e60023;
$color-white: #ffffff;
$color-gray-light: #efefef;
$color-gray: #8e8e8e;
$color-gray-dark: #333333;
$font-family--default: 'Baloo Bhai', cursive;

$tst-button__color--default: $color-gray;
